# Visual Studio Solution User Options
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2017 and newer (user-specific solution settings)
.vs/

# Build outputs
# これらのルールは、プロジェクトのビルド出力ディレクトリを無視します。
# sandbox_00直下のすべてのサブディレクトリに適用されます。
#**/[Bb]in/             # 例: xxx/bin/
#**/[Oo]bj/             # 例: xxx/obj/
#**/[Dd]ebug/           # 例: xxx/x64/Debug/
#**/[Rr]elease/         # 例: xxx/x64/Release/
# 上の設定で無視できていないので出力フォルダの無視設定を追加
**/Debug
**/Release

# Package directories (for older projects using packages.config)
**/packages/
!**/packages/.gitkeep # パッケージディレクトリ自体を空の状態でリポジトリに含めたい場合

# ReSharper and other JetBrains tools
*.resharper
*.dotSettings
*.DotSettings.user
.idea/                 # JetBrains Rider のプロジェクト設定ディレクトリ

# Visual Studio Code
.vscode/

# Test Results
TestResults/
*.trx

# Visual Studio Code Live Share
.vsls/

# SQL Server Management Studio (SSMS)
*.ssmssln
*.sqlproj.user
*.db
*.mdf
*.ldf
*.sdf

# Temporary files
*.tmp
*.log
*.bak
*~

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
desktop.ini

# Deployment artifacts
Publish/
